[submodule "i3/polybar-scripts"]
	path = i3/polybar-scripts
	url = git@github.com:SamTebbs33/polybar-scripts.git
[submodule "vim/.vim/bundle/jellybeans.vim"]
	path = vim/.vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/nerdtree-git-plugin"]
	path = vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
