[submodule "vim/.vim/bundle/vim-hybrid-material"]
	path = vim/.vim/bundle/vim-hybrid-material
	url = git@github.com:kristijanhusak/vim-hybrid-material
[submodule "vim/.vim/bundle/syntax"]
	path = vim/.vim/bundle/syntax
	url = https://github.com/mboughaba/i3config.vim.git
[submodule "i3/polybar-scripts"]
	path = i3/polybar-scripts
	url = git@github.com:SamTebbs33/polybar-scripts.git
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/.vim/bundle/zig.vim"]
	path = vim/.vim/bundle/zig.vim
	url = https://github.com/ziglang/zig.vim
