fish/.config/fish/fish_history
fish/.config/fish/fishd*
vim/.vim/.netrwhist
vim/.vim/undo-dir/%*
vim/.vim/undo-dir
fish/.config/fish/fish_variables
i3/.config/i3/config
i3/.config/i3/device.i3config
vim/.vim/bkp
sway/.config/sway/config
bumblebee-status/.config/bumblebee-status/config
fish/.config/fish/device.fish
fish/.config/fish/completions
fish/.config/fish/conf.d/
fish/.config/fish/fish_plugins
fish/.config/fish/functions
