fish/.config/fish/fish_history
fish/.config/fish/fishd*
vim/.vim/.netrwhist
vim/.vim/undo-dir/%*
vim/.vim/undo-dir
fish/.config/fish/fish_variables
i3/.config/i3/config
i3/.config/i3/device.i3config
vim/.vim/bkp
