[submodule "vim/.vim/bundle/vim-hybrid-material"]
	path = vim/.vim/bundle/vim-hybrid-material
	url = git@github.com:kristijanhusak/vim-hybrid-material
[submodule "vim/.vim/bundle/syntax"]
	path = vim/.vim/bundle/syntax
	url = https://github.com/mboughaba/i3config.vim.git
