configuration {
    modi: "drun,calc,window";
    show-icons: true;
    icon-theme: "Papirus";
    kb-row-tab: "Shift+Tab";
    kb-element-next: "Shift+Escape";
    kb-mode-next: "Tab";
}
@theme "jellybeans"
